<div class="row">
	<div class="col col-md-10 col-12 mb-2">
		<div class="input-group">
			<span class="input-group-text">Answer</span>
			<input autofocus autocomplete="off" class="form-control" type="text" id="answer">
			<button class="btn btn-success" type="button" onclick="checkAnswer()">Let's go!</button>
		</div>
	</div>
	<div class="col col-md-1 col-12">
		<button class="btn btn-danger w-100 mb-2" type="button" id="next">Next</button>
	</div>
	<div class="col col-md-1 col-12">
		<button class="btn btn-warning w-100" type="button" id="pause">Pause</button>
	</div>
</div>