<header class="header-blue" style="height: 100vh;">
	<div class="container hero">
		<nav class="navbar navbar-light navbar-expand-md">
			<div class="container-fluid"><a class="navbar-brand fw-bold mx-auto" href="/" style="font-size: 45px;">kwizbol.</a></div>
		</nav>
		<div class="row">
			<div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
				<h1>The web-based quizbowl experience is here.</h1>
				<p>Want to hone your quizbowl skills with an easy-to-use web app that works on both desktop and mobile? Look no further than kwizbol! Enjoy a rich array of features, such as automated score keeping, pause/play functionality, and the ability to choose your own difficulty!</p><a class="btn btn-light btn-lg action-button" href="/tossups" role="button">Let&#39;s try it out!</a>
			</div>
			<div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
				<div class="phone-mockup"><img class="device" src="/images/phone.svg" style="-webkit-user-drag: none;user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;" />
					<div class="screen"></div>
				</div>
			</div>
		</div>
	</div>
</header>